@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row border">
    <div class="row m-2 mt-4">
        <h2 class="col-md-6">
            <i class="fa-solid fa-user"></i>
            Contact
        </h2>
        <div class="col-md-6 text-end">
            <a class="btn btn-danger" asp-controller="Employee" asp-action="Create">
                <i class="fa-solid fa-user-plus"></i>
            </a>
        </div>
    </div>
    <div class="row m-2 scrollmanu">
        <table class="table table-hover table-responsive" id="table">
            <thead class="bg-dark text-light">
            <th>Id</th>
            <th>Name</th>
            <th class="text-center">Action</th>
            </thead>
            <tbody>
                @foreach (var employee in @Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td class="text-center">
                            <a class="btn btn-success" asp-controller="Employee" asp-action="Update" asp-route-Id="@employee.Id">
                                <i class="fa-solid fa-user-pen"></i>
                            </a>
                            <a class="btn btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-Id="@employee.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>